<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
	<Bundle Name="Moonlight Internet Hosting Tool" Manufacturer="Moonlight Game Streaming Project" Version="!(bind.packageVersion.mish)" UpgradeCode="a2ce5056-1114-44b9-b79b-952ef46d3d50">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication
            LicenseFile="license.rtf"
            ShowVersion="yes"
            SuppressOptionsUI="yes"
            />
    </BootstrapperApplicationRef>

    <WixVariable Id="WixUILicenseRtf" Value="" />

    <Chain>
      <ExePackage Name="Microsoft Visual C++ 2015-2019 Redistributable"
                  Cache="no"
                  PerMachine="yes"
                  Permanent="yes"
                  Vital="yes"
                  InstallCommand="/install /quiet /norestart"
                  DownloadUrl="https://moonlight-stream.org/downloads/vcredist/14.28.29334/vcredist_x86.exe">
        
        <RemotePayload Description="Microsoft Visual C++ 2015-2019 Redistributable"
                       ProductName="Microsoft Visual C++ 2015-2019 Redistributable"
                       Size="14328440"
                       Version="14.28.29334.0"
                       Hash="17674FCC6CF3A2FFDC391BDCDE082AA936E37A89"/>

        <!-- Newer version installed is fine -->
        <ExitCode Value="1638" Behavior="success" />
      </ExePackage>
      <MsiPackage Id="mish" SourceFile="$(var.mish.TargetPath)" />
      <MsiPackage SourceFile="$(var.GSv6FwdSetup.TargetPath)" />
		</Chain>
	</Bundle>
</Wix>
