<?xml version="1.0" encoding="UTF-8"?>

<?define VCREDIST_VER = "14.31.31103" ?>
<?define VCREDIST_X86_SIZE = "13725768" ?>
<?define VCREDIST_X86_SHA1 = "15fe8e70c3c5582b70df173cd9b580331677735a" ?>
<?define VCREDIST_X86_URL = "https://download.visualstudio.microsoft.com/download/pr/144a5711-f076-44fa-bf55-f7e0121eb30c/B7AE307237F869E09F7413691A2CD1944357B5CEE28049C0A0D3430B47BB3EDC/VC_redist.x86.exe" ?>
<?define VCREDIST_X86_UPGRADE_CODE = "65E5BD06-6392-3027-8C26-853107D3CF1A" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Bundle Name="Moonlight Internet Hosting Tool" Manufacturer="Moonlight Game Streaming Project" Version="!(bind.packageVersion.mish)" UpgradeCode="a2ce5056-1114-44b9-b79b-952ef46d3d50">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication
            LicenseFile="license.rtf"
            ShowVersion="yes"
            SuppressOptionsUI="yes"
            />
    </BootstrapperApplicationRef>

    <WixVariable Id="WixUILicenseRtf" Value="" />

    <util:ProductSearch Id="VCREDIST_14_x86"
                        UpgradeCode="$(var.VCREDIST_X86_UPGRADE_CODE)"
                        Result="version"
                        Variable="VCREDIST_14_x86" />
      
    <Chain>
      <ExePackage Name="Microsoft Visual C++ 2015-2022 Redistributable - x86"
                  Cache="no"
                  Compressed="no"
                  PerMachine="yes"
                  Permanent="yes"
                  Vital="yes"
                  InstallCommand="/install /quiet /norestart"
                  DownloadUrl="$(var.VCREDIST_X86_URL)"
                  DetectCondition="VCREDIST_14_x86 &gt;= v$(var.VCREDIST_VER)">
        
        <RemotePayload Description="Microsoft Visual C++ 2015-2022 Redistributable - x86"
                       ProductName="Microsoft Visual C++ 2015-2022 Redistributable - x86"
                       Size="$(var.VCREDIST_X86_SIZE)"
                       Version="$(var.VCREDIST_VER).0"
                       Hash="$(var.VCREDIST_X86_SHA1)"/>

        <!-- Newer version installed is fine -->
        <ExitCode Value="1638" Behavior="success" />
      </ExePackage>
      <MsiPackage Id="mish" SourceFile="$(var.mish.TargetPath)" />
      <MsiPackage SourceFile="$(var.GSv6FwdSetup.TargetPath)" />
		</Chain>
	</Bundle>
</Wix>
