#include <windows.h>
#include "../version.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_VERSION
PRODUCTVERSION  VER_VERSION
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",        VER_COMPANYNAME_STR
            VALUE "FileDescription",    "Moonlight Internet Streaming Tester"
            VALUE "ProductName",        VER_PRODUCTNAME_STR
            VALUE "FileVersion",        VER_VERSION_STR
            VALUE "ProductVersion",     VER_VERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END